<!--View Information-->
<!--View name : Product List-->
<!--Controller name : productListCtrl-->
<!--Controller path : www/templates/share-application-content/social-share/js/controllers.js-->
<!--State name : app.productList-->
<!--URL : #app/productList-->

<ion-view view-title="Berita Dan Pengumuman">
    <!--product list section-->
    <ion-content id="product-list-content" class="fade-in">
      <md-list>
        <md-list-item class="md-2-line" ng-repeat="product in productList"
             ng-click="navigateTo('app.productDetail',product)">
            <!-- <span><i class="fa fa-tags fa-3x" style="padding: 0px 15px 0px 0px; color: #F44336; "></i></span> -->
            <div class="md-list-item-text">
                <h3>{{product.title}}</h3>
                <p>{{product.created.substr(0, 10)}}</p>
                <p align="right"><font color="blue">Lihat Sepenuhnya..</font></p>
            </div>
            <md-divider></md-divider>
        </md-list-item>
      </md-list>
    </ion-content>


    <!--end product list section-->

    <!--loading progress-->
    <div id="product-list-loading-progress" class="loading-progress fade-in">
        <ion-spinner ng-if="!isAndroid" class="progress-circular"></ion-spinner>
        <md-progress-circular ng-if="isAndroid" md-mode="indeterminate"></md-progress-circular>
    </div>
    <!--end loading progress-->
</ion-view>
