<!--View Information-->
<!--View name : Product Detail-->
<!--Controller name : productDetailCtrl-->
<!--Controller path : www/templates/share-application-content/social-share/js/controllers.js-->
<!--State name : app.productDetail-->
<!--URL : #app/productDetail-->
<ion-view view-title="{{product.title}}">
    <!--left button on navigation bar-->
    <ion-nav-buttons side="left">
        <a ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </a>
    </ion-nav-buttons>
    <!--end left button on navigation bar> -->

    <!--product detail section-->
    <ion-content id="product-detail-content" class="fade-in">
      <ion-content id="news-feed-content">
        <div class="news-item">
            <!--header section-->
            <div class="row header">
                <div class="col-80">
                    <h1>{{product.title}}</h1>
                </div>
            </div>
            <!--end header section-->
            <hr/>
            <!--detail section-->
            <div class="row detail">
                <div class="col" ng-bind-html="ProductList">
                    <p>{{product.introtext}}</p>
                </div>
            </div>
            <!--end of detail section-->
        </div>
      </ion-content>
    </ion-content>
  <!-- <md-content md-border-bottom md-selected="0" id="product-detail-tab-detail" class="no-border">
            <div class="detail-form">
                <div class="header">
                    <h1>{{product.title}}</h1>
                    <hr/>
                    <p>{{product.introtext}}</p>
                </div>
        </md-content> -->
    <!--end product detail section-->

    <!--loading progress-->
    <div id="product-detail-loading-progress" class="loading-progress fade-in">
        <ion-spinner ng-if="!isAndroid" class="progress-circular"></ion-spinner>
        <md-progress-circular ng-if="isAndroid" md-mode="indeterminate"></md-progress-circular>
    </div>
    <!--end loading progress -->
</ion-view>
