<!--View Information-->
<!--View name : Product List-->
<!--Controller name : productListCtrl-->
<!--Controller path : www/templates/share-application-content/social-share/js/controllers.js-->
<!--State name : app.productList-->
<!--URL : #app/productList-->

<ion-view view-title="Berita Dan Pengumuman">
    <!--product list section-->
    <ion-content id="product-list-content" class="fade-in">

        <!--toolbar section-->
        <md-toolbar class="bar-subheader md-tall md-primary toolbar-medium toolbar-in-content">
            <div>
                <!-- <img class="user-img" src="img/pkns.png"> -->
                  <h2>Berita Dan Pengumuman</h2>
            </div>
        </md-toolbar><!--end toolbar section-->

        <div class="row">
            <div class="col">
                <!--pin section-->
                <div class="pin" ng-if="$even" ng-repeat="product in productList"
                     ng-click="navigateTo('app.productDetail',product)">
                    <!--<img ng-src="{{product.img}}"/> -->
                    <h1>{{product.title}}</h1>
                  <div class="pin-footer">
                      <!-- $<span class="pin-footer text-left font-sale">{{product.price}}</span>
                      <span class="pin-footer text-left font-hot-sale">${{product.promotionPrice}}</span> -->
                      <span class="pin-footer text-right">Detail</span>
                  </div>
                </div>  <!--end pin section-->
            </div>

            <div class="col">
                <!--pin section-->
                <div class="pin" ng-if="$odd" ng-repeat="product in productList"
                     ng-click="navigateTo('app.productDetail',product)">
                    <!-- <img ng-src="{{product.img}}"/> -->
                      <h1>{{product.title}}</h1>
                    <div class="pin-footer">
                        <!-- <span class="pin-footer text-left font-hot-sale">{{product.promotionPrice}}</span> -->
                        <span class="pin-footer text-right">Detail</span>
                    </div>
                </div>  <!--end pin section-->
            </div>
        </div>

        <ion-infinite-scroll on-infinite="loadMore()" distance="1%">
        </ion-infinite-scroll>
    </ion-content>
    <!--end product list section-->

    <!--loading progress-->
    <div id="product-list-loading-progress" class="loading-progress fade-in">
        <ion-spinner ng-if="!isAndroid" class="progress-circular"></ion-spinner>
        <md-progress-circular ng-if="isAndroid" md-mode="indeterminate"></md-progress-circular>
    </div>
    <!--end loading progress-->
</ion-view>
