<!--View Information-->
<!--View name : Menu-->
<!--Controller name : menuCtrl-->
<!--Controller path : www/templates/menu/js/controllers.js-->
<!--State name : app-->
<!--URL : #app-->

<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-balanced  material-background-nav-bar">
            <ion-nav-buttons side="left">
                <a class="button button-icon button-clear ion-navicon" menu-toggle="left" ng-click="toggleLeft()"></a>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <md-sidenav md-component-id="left" on-swipe-left="closeSideNav()" on-drag-left="closeSideNav()">
        <!--menu section-->
        <div class="material-background" id="toggle-menu-left-header">
            <!--menu header section-->
            <div class="menu-left-header">
                <img class="user-img" src="img/profileAvatar.jpg">

                <p>
                    <span class="title">Ionic Material</span>
                    <br/>
                    <span class="sub-title">Material Design Application</span>
                </p>
            </div><!--end menu header section-->
        </div> <!--menu content section-->
        <ion-content id="toggle-menu-left-content">

            <!--If device is android application will present below code.-->
            <!--It will disable animation to better performance on android.-->
            <!--list section-->
            <div ng-if="isAndroid" class="menu-list">

                <md-subheader class="md-warn">MENU UTAMA</md-subheader>

                  <div class="row menu-item"  ng-click="navigateTo('app.expense')">
                      <div class="col-33">
                          <i class="fa fa-suitcase"></i>
                      </div>
                      <div class="col-66">
                          <span>UTAMA</span>
                      </div>
                  </div>
                <div class="row menu-item"  ng-click="navigateTo('app.menuDashboard')">
                    <div class="col-33">
                        <i class="fa fa-th-large"></i>
                    </div>
                    <div class="col-66">
                        <span>Lain-Lain Menu</span>
                    </div>
                </div>

                <div class="row menu-item"  ng-click="navigateTo('app.newsFeed')">
                    <div class="col-33">
                        <i class="fa fa-newspaper-o"></i>
                    </div>
                    <div class="col-66">
                        <span>Laman Web</span>
                    </div>
                </div>
                <div class="row menu-item"  ng-click="navigateTo('app.cubeFeed')">
                    <div class="col-33">
                        <i class="fa fa-cubes"></i>
                    </div>
                    <div class="col-66">
                        <span>Berita/Pengumuman</span>
                    </div>
                </div>
                <!--md-subheader class="md-warn">Social Network Connect</md-subheader>
                <div class="row menu-item"  ng-click="navigateTo('app.wordpressLogin')">
                    <div class="col-33">
                        <i class="fa fa-wordpress"></i>
                    </div>
                    <div class="col-66">
                        <span>WordPress</span>
                    </div>
                </div>
                <div class="row menu-item"  ng-click="navigateTo('app.facebookLogin')">
                    <div class="col-33">
                        <i class="fa fa-facebook"></i>
                    </div>
                    <div class="col-66">
                        <span>Facebook</span>
                    </div>
                </div>
                <div class="row menu-item"  ng-click="navigateTo('app.googlePlusLogin')">
                    <div class="col-33">
                        <i class="fa fa-google-plus"></i>
                    </div>
                    <div class="col-66">
                        <span>Google Plus</span>
                    </div>
                </div>
                <div class="row menu-item"  ng-click="navigateTo('app.instagramLogin')">
                    <div class="col-33">
                        <i class="fa fa-instagram"></i>
                    </div>
                    <div class="col-66">
                        <span>Instagram</span>
                    </div>
                </div>
                <div class="row menu-item"  ng-click="navigateTo('app.foursquareLogin')">
                    <div class="col-33">
                        <i class="fa fa-foursquare"></i>
                    </div>
                    <div class="col-66">
                        <span>Foursquare</span>
                    </div>
                </div>
                <div class="row menu-item"  ng-click="navigateTo('app.dropboxLogin')">
                    <div class="col-33">
                        <i class="fa fa-dropbox"></i>
                    </div>
                    <div class="col-66">
                        <span>Dropbox</span>
                    </div>
                </div-->
                <md-subheader class="md-warn">Map API Connect</md-subheader>
                <div class="row menu-item"  ng-click="navigateTo('app.androidMapConnect')">
                    <div class="col-33">
                        <i class="fa fa-map"></i>
                    </div>
                    <div class="col-66">
                        <span>Peta Lokasi</span>
                    </div>
                </div>
              </div>



                <!--If device is not Android application will present below code.-->
                <!--It will show animation when selecting row.-->
                <md-list ng-if="!isAndroid">

                  <md-subheader class="md-warn">Menu Utama</md-subheader>
                  <md-list-item class="menu-list-item" ng-click="navigateTo('app.expense')">
                      <i class="fa fa-suitcase"></i>
                      <span>UTAMA</span>
                  </md-list-item>
                  <md-list-item class="menu-list-item" ng-click="navigateTo('app.menuDashboard')">
                      <i class="fa fa-th-large"></i>
                      <span>Lain-Lain Menu</span>
                  </md-list-item>
                  <md-list-item class="menu-list-item" ng-click="navigateTo('app.newsFeed')">
                      <i class="fa fa-newspaper-o"></i>
                      <span>Laman Web</span>
                  </md-list-item>
                  <md-list-item class="menu-list-item" ng-click="navigateTo('app.cubeFeed')">
                      <i class="fa fa-cubes"></i>
                      <span>Berita/Pengumuman</span>
                  </md-list-item>

                  <!--md-subheader class="md-warn">Social Network Connect</md-subheader>
                  <md-list-item class="menu-list-item" ng-click="navigateTo('app.wordpressLogin')">
                      <i class="fa fa-wordpress"></i>
                      <span>WordPress</span>
                  </md-list-item>
                  <md-list-item class="menu-list-item" ng-click="navigateTo('app.facebookLogin')">
                      <i class="fa fa-facebook"></i>
                      <span>Facebook</span>
                  </md-list-item>
                  <md-list-item class="menu-list-item" ng-click="navigateTo('app.googlePlusLogin')">
                      <i class="fa fa-google-plus"></i>
                      <span>Google Plus</span>
                  </md-list-item>
                  <md-list-item class="menu-list-item" ng-click="navigateTo('app.instagramLogin')">
                      <i class="fa fa-instagram"></i>
                      <span>Instagram</span>
                  </md-list-item>
                  <md-list-item class="menu-list-item" ng-click="navigateTo('app.foursquareLogin')">
                      <i class="fa fa-foursquare"></i>
                      <span>Foursquare</span>
                  </md-list-item>
                  <md-list-item class="menu-list-item" ng-click="navigateTo('app.dropboxLogin')">                        <i class="fa fa-dropbox"></i>
                      <span>Dropbox</span>
                  </md-list-item-->
                  <md-subheader class="md-warn">Map API Connect</md-subheader>
                  <md-list-item class="menu-list-item" ng-click="navigateTo('app.iosMapConnect')">
                      <i class="fa fa-map-o"></i>
                      <span>Peta Lokasi</span>
                  </md-list-item>
              </md-list>
                <!--end list section-->
            </ion-content><!--end menu content section-->
            <!--end menu section-->

        </md-sidenav>
    </ion-side-menus>
