<!--View Information-->
<!--View name : Expense Dashboard-->
<!--Controller name : expenseDashboardCtrl-->
<!--Controller path : www/templates/themes/expense-dashboard/js/controllers.js-->
<!--State name : app.expense-->
<!--URL : #app/expense-->

<ion-view title="UTAMA" id="expense-dashboard">

    <!--right button on navigation bar-->
    <ion-nav-buttons side="right">
        <md-button class="md-icon-button ion-nav-button-right" ng-click="goToSetting()"
                   aria-label="Setting">
            <i class="ion-android-more-vertical"></i>
        </md-button>
    </ion-nav-buttons> <!--end right button on navigation bar-->

    <!--expense toolbar section-->
    <md-toolbar class="bar-subheader md-tall md-primary toolbar-expense material-background-bar">

        <div>
            <img src="img/pkns.png" class="user-img"/>
              <h1><b>PKNS</b></h1>
              <h2><b>Perbadanan Kemajuan Negeri Selangor</b></h2>
        </div>
        <a class="md-button md-accent md-fab fab-toolbar-medium"
           ng-click="showGridBottomSheet($event)"
           aria-label="showListBottomSheet">
            <i class="ion-android-share-alt"></i>
        </a>
    </md-toolbar><!--end expense toolbar section-->

    <!--expense content section-->
    <ion-content id="expense-dashboard-content">

        <!--Below code it will show animation when selecting row.-->
        <md-list ng-if="isAnimated">
            <md-list-item class="row" ng-click="showListBottomSheet1($event1)">
                <div class="col-20 icon">
                    <i class="fa fa-users"></i>
                </div>
                <div class="col-80 menu">
                    <p class="header">Orang Awam</p></a>
                    <p class="detail">Orang luar yang menggunakan khidmat dan servis</p>
                </div>
            </md-list-item>
            <md-divider></md-divider>

            <md-list-item class="row" ng-click="showListBottomSheet2($event2)">
                <div class="col-20 icon">
                    <i class="fa fa-user"></i>
                </div>
                <div class="col-80 menu">
                    <p class="header">Warga PKNS</p></a>
                    <p class="detail">Ahli dan Staf PKNS</p>
                </div>
            </md-list-item>
            <md-divider></md-divider>

            <md-list-item class="row" ng-click="showListBottomSheet3($event3)">
                <div class="col-20 icon">
                    <i class="fa fa-briefcase"></i>
                </div>
                <div class="col-80 menu">
                    <p class="header">Usahawan</p></a>
                    <p class="detail">Pengusaha dan Pemaju</p>
                </div>
            </md-list-item>
            <md-divider></md-divider>

            <md-list-item class="row" ng-click="showListBottomSheet4($event4)">
                <div class="col-20 icon">
                    <i class="fa fa-cog"></i>
                </div>
                <div class="col-80 menu">
                    <p class="header">Perkhidmatan</p></a>

                    <p class="detail">Servis yang diberikan.</p>
                </div>
            </md-list-item>
            <md-divider></md-divider>

        </md-list>
    </ion-content><!--end expense content section-->

    <script type="text/ng-template" id="ui-grid-bottom-sheet-template">
        <md-bottom-sheet class="md-grid">
            <!--list section-->
            <md-list id="bottom-sheet-grid-md-list">
                <md-list-item>
                    <a class="md-grid-item-content" ng-click="navigateTo('app.facebookLogin')">
                        <md-icon md-svg-src="facebook"></md-icon>
                        <div class="md-grid-text"> Facebook</div>
                    </a>
                </md-list-item>
                <md-list-item>
                    <a class="md-grid-item-content" ng-click="navigateTo('app.twitter')">
                        <md-icon md-svg-src="twitter"></md-icon>
                        <div class="md-grid-text"> Twitter</div>
                    </a>
                </md-list-item>
                <md-list-item>
                    <a class="md-grid-item-content" ng-click="navigateTo('app.instagramLogin')">
                        <i class="fa fa-instagram"></i>
                        <div class="md-grid-text"> Instagram</div>
                    </a>
                </md-list-item>
                <!-- <md-list-item>
                    <a class="md-grid-item-content" ng-click="closeListBottomSheet()">
                        <i class="ion-android-image"></i>

                        <div class="md-grid-text"> Save Image</div>
                    </a>
                </md-list-item>
                <md-list-item>
                    <a class="md-grid-item-content" ng-click="closeListBottomSheet()">
                        <md-icon md-svg-src="share-arrow"></md-icon>
                        <div class="md-grid-text"> More</div>
                    </a>
                </md-list-item> -->
            </md-list>
            <!--end list section-->
        </md-bottom-sheet>
    </script>

    <script type="text/ng-template" id="ui-list-bottom-sheet-template1">
        <md-bottom-sheet class="md-list md-has-header">
            <h1 class="md-bottom-sheet-header">Orang Awam</h1>
            <p class="detail">Senarai Pautan Berkaitan Orang Awam</p>
            <!--list section-->
            <md-list>
                <md-list-item>
                    <a class="md-default-theme md-bottom-sheet-list-item"
                       ng-click="navigateTo('app.pknsProperty')">
                        <i class="ion-android-call"></i>
                        <span>Portal Hartanah PKNS</span>
                    </a>
                </md-list-item>
                <md-list-item>
                    <a class="md-default-theme md-bottom-sheet-list-item"
                       ng-click="navigateTo('app.pknsCareline')">
                        <i class="ion-android-list"></i>
                        <span>PKNS Careline</span>
                    </a>
                </md-list-item>
                <md-list-item>
                    <a class="md-default-theme md-bottom-sheet-list-item"
                       ng-click="navigateTo('app.direktori')">
                        <i class="ion-android-delete"></i>
                        <span>Direktori</span>
                    </a>
                </md-list-item>
            </md-list>
            <!--end list section-->
        </md-bottom-sheet>
    </script>

    <script type="text/ng-template" id="ui-list-bottom-sheet-template2">
        <md-bottom-sheet class="md-list md-has-header">
            <h1 class="md-bottom-sheet-header">Warga PKNS</h1>
            <p class="detail">Senarai Pautan Berkaitan Warga PKNS</p>
            <!--list section-->
            <md-list>
                <md-list-item>
                    <a class="md-default-theme md-bottom-sheet-list-item"
                       ng-click="navigateTo('app.sistemDalamanPKNS')">
                        <i class="ion-android-call"></i>
                        <span>Sistem dalaman PKNS</span>
                    </a>
                </md-list-item>
            </md-list>
            <!--end list section-->
        </md-bottom-sheet>
    </script>

    <script type="text/ng-template" id="ui-list-bottom-sheet-template3">
          <md-bottom-sheet class="md-list md-has-header">
              <h1 class="md-bottom-sheet-header">Usahawan</h1>
              <p class="detail">Senarai Pautan Berkaitan Usahawan</p>
              <!--list section-->
              <md-list>
                  <md-list-item>
                      <a class="md-default-theme md-bottom-sheet-list-item"
                         ng-click="navigateTo('app.programKeusahawanan')">
                          <i class="ion-android-call"></i>
                          <span>Program Keusahawanan</span>
                      </a>
                  </md-list-item>
                  <md-list-item>
                      <a class="md-default-theme md-bottom-sheet-list-item"
                         ng-click="navigateTo('app.akademiPKNS')">
                          <i class="ion-android-list"></i>
                          <span>Akademi PKNS</span>
                      </a>
                  </md-list-item>
                  <md-list-item>
                      <a class="md-default-theme md-bottom-sheet-list-item"
                         ng-click="navigateTo('app.pejabatMaya')">
                          <i class="ion-android-delete"></i>
                          <span>Pejabat Maya</span>
                      </a>
                  </md-list-item>
                  <md-list-item>
                      <a class="md-default-theme md-bottom-sheet-list-item"
                         ng-click="navigateTo('app.peluangPekerjaan')">
                          <i class="ion-android-delete"></i>
                          <span>Peluang Perniagaan Bersama PKNS</span>
                      </a>
                  </md-list-item>
              </md-list>
              <!--end list section-->
          </md-bottom-sheet>
    </script>

    <script type="text/ng-template" id="ui-list-bottom-sheet-template4">
          <md-bottom-sheet class="md-list md-has-header">
              <h1 class="md-bottom-sheet-header">Perkhidmatan</h1>
              <p class="detail">Senarai Perkhidmatan atas talian yang berkaitan dengan PKNS</p>
              <!--list section-->
              <md-list>
                  <md-list-item>
                      <a class="md-default-theme md-bottom-sheet-list-item"
                         ng-click="navigateTo('app.sebutHarga')">
                          <i class="ion-android-call"></i>
                          <span>Notis Sebut Harga & Tender</span>
                      </a>
                  </md-list-item>
                  <md-list-item>
                      <a class="md-default-theme md-bottom-sheet-list-item"
                         ng-click="navigateTo('app.pembayaranOnline')">
                          <i class="ion-android-list"></i>
                          <span>Sistem Pembayaran Online</span>
                      </a>
                  </md-list-item>
                  <md-list-item>
                      <a class="md-default-theme md-bottom-sheet-list-item"
                         ng-click="navigateTo('app.pembayaranOnlinePOS')">
                          <i class="ion-android-delete"></i>
                          <span>Pembayaran Online POS Malaysia</span>
                      </a>
                  </md-list-item>
              </md-list>
              <!--end list section-->
          </md-bottom-sheet>
    </script>

  </ion-view>
