<!--View Information-->
<!--View name : Menu Dashboard-->
<!--Controller name : menuDashboardCtrl-->
<!--Controller path : www/templates/themes/menu-dashboard/js/controllers.js-->
<!--State name : app.menuDashboard-->
<!--URL : #app/menuDashboard-->

<ion-view title="Syarikat Anak PKNS">
    <!--menu dashboard section-->
    <ion-content id="menu-dashboard-content">
        <!--panel section-->
        <div class="menu-panel">
            <div  ng-click="navigateTo('app.pknsEngi')" align="middle" data-toggle="tooltip" data-placement="bottom" title="Kerajaan Malaysia">
              <img src="img/syarikat/pknsEngineering.jpg" class="user-img"></i>
              <p>PKNS Engineering</p>
            </div>
            <hr/>
            <div  ng-click="navigateTo('app.SIC')" align="middle" data-toggle="tooltip" data-placement="bottom" title="Kerajaan Malaysia">
              <img src="img/syarikat/sic.jpg" class="user-img"></i>
              <p>Selangor Industrial Corporation</p>
            </div>
            <hr/>
            <div  ng-click="navigateTo('app.Selaman')" align="middle" data-toggle="tooltip" data-placement="bottom" title="Kerajaan Malaysia">
              <img src="img/syarikat/Selaman.jpg" class="user-img"></i>
              <p>Selaman</p>
            </div>
            <hr/>
            <div  ng-click="navigateTo('app.pknsInfra')" align="middle" data-toggle="tooltip" data-placement="bottom" title="Kerajaan Malaysia">
              <img src="img/syarikat/pkns-infra.jpg" class="user-img"></i>
              <p>PKNS Infra Berhad</p>
            </div>
            <hr/>
            <div  ng-click="navigateTo('app.DePalma')" align="middle" data-toggle="tooltip" data-placement="bottom" title="Kerajaan Malaysia">
              <img src="img/syarikat/depalma.jpg" class="user-img"></i>
              <p>De Palma Group of Hotels</p>
            </div>
            <hr/>
            <div  ng-click="navigateTo('app.WorldWide')" align="middle" data-toggle="tooltip" data-placement="bottom" title="Kerajaan Malaysia">
              <img src="img/syarikat/worldwide.jpg" class="user-img"></i>
              <p>Worldwide Holding</p>
            </div>
            <hr/>
            <div  ng-click="navigateTo('app.SACC')" align="middle" data-toggle="tooltip" data-placement="bottom" title="Kerajaan Malaysia">
              <img src="img/syarikat/sacc.jpg" class="user-img"></i>
              <p>Shah Alam Convention Centre</p>
            </div>
            <hr/>
            <div  ng-click="navigateTo('app.pknsHolding')" align="middle" data-toggle="tooltip" data-placement="bottom" title="Kerajaan Malaysia">
              <img src="img/syarikat/PKNS_HOLDING.jpg" class="user-img"></i>
              <p>PKNS Holding</p>
            </div>
            <hr/>
            <div  ng-click="navigateTo('app.DatumCorp')" align="middle" data-toggle="tooltip" data-placement="bottom" title="Kerajaan Malaysia">
              <img src="img/syarikat/datum-corp.jpg" class="user-img"></i>
              <p>Datum Corp International</p>
            </div>
            <hr/>
            <div  ng-click="navigateTo('app.pknsRE')" align="middle" data-toggle="tooltip" data-placement="bottom" title="Kerajaan Malaysia">
              <img src="img/syarikat/pkns-realEstate.jpg" class="user-img"></i>
              <p>PKNS Real Estate</p>
            </div>
        </div>

    </ion-content><!--Menu dashboard section-->
</ion-view>
