<!--View Information-->
<!--View name : Menu Dashboard-->
<!--Controller name : menuDashboardCtrl-->
<!--Controller path : www/templates/themes/menu-dashboard/js/controllers.js-->
<!--State name : app.menuDashboard-->
<!--URL : #app/menuDashboard-->

<ion-view title="Pautan Agensi">
    <!--menu dashboard section-->
    <ion-content id="menu-dashboard-content">
        <!--panel section-->

        <div class="menu-panel">
            <div class="row">
                <div class="col-33" ng-click="navigateTo('app.KerajaanMalaysia')" data-toggle="tooltip" data-placement="bottom" title="Kerajaan Malaysia">
                  <img src="img/pautan2/mygov.png" class="user-img"></i>
                  <p>Kerajaan Malaysia</p>
                </div>
                <div class="col-33" ng-click="navigateTo('app.JAIS')" data-toggle="tooltip" data-placement="bottom" title="Jabatan Agama Islam Selangor">
                  <img src="img/pautan2/jais.png" class="user-img"></i>
                  <p>Jabatan Agama Islam Selangor</p>
                </div>
                <div class="col-33" ng-click="navigateTo('app.LZS')" data-toggle="tooltip" data-placement="bottom" title="Lembaga Zakat Selangor">
                  <img src="img/pautan2/izs.png" class="user-img"></i>
                  <p>Lembaga Zakat Selangor</p>
                </div>

            </div>

            <div class="row">
              <div class="col-33" ng-click="navigateTo('app.MSC')" data-toggle="tooltip" data-placement="bottom" title="msc">
                <img src="img/pautan2/msc.png" class="user-img"></i>
                <p>MSC</p>
              </div>
              <div class="col-33" ng-click="navigateTo('app.MSSAAS')" data-toggle="tooltip" data-placement="bottom" title="mssaas">
                <img src="img/pautan2/mssaas.png" class="user-img"></i>
                <p>mssaas</p>
              </div>
              <div class="col-33" ng-click="navigateTo('app.Unisel')" data-toggle="tooltip" data-placement="bottom" title="unisel">
                <img src="img/pautan2/unisel.png" class="user-img"></i>
                <p>unisel</p>
              </div>
            </div>

            <div class="row">
              <div class="col-33" ng-click="navigateTo('app.JPBD')" data-toggle="tooltip" data-placement="bottom" title="Jabatan Perancangan Bandar dan Desa Negeri Selangor">
                <img src="img/pautan2/jpbd.png" class="user-img"></i>
                <p>Jabatan Perancangan Bandar dan Desa Negeri Selangor</p>
              </div>
              <div class="col-33" ng-click="navigateTo('app.KUIS')" data-toggle="tooltip" data-placement="bottom" title="Kolej Universiti Islam Antarabangsa Selangor">
                <img src="img/pautan2/kuis.png" class="user-img"></i>
                <p>Kolej Universiti Islam Antarabangsa Selangor</p>
              </div>
              <div class="col-33" ng-click="navigateTo('app.JKM')" data-toggle="tooltip" data-placement="bottom" title="Jabatan Kebajikan Masyarakat Selangor">
                <img src="img/pautan2/jkm.png" class="user-img"></i>
                <p>Jabatan Kebajikan Masyarakat Selangor</p>
              </div>
            </div>

            <div class="row">
              <div class="col-33" ng-click="navigateTo('app.EPSA')" data-toggle="tooltip" data-placement="bottom" title="E-Pembelajaran Sektor Awam">
                <img src="img/pautan2/epsa.png" class="user-img"></i>
                <p>E-Pembelajaran Sektor Awam</p>
              </div>
              <div class="col-33" ng-click="navigateTo('app.MyID')" data-toggle="tooltip" data-placement="bottom" title="myID">
                <img src="img/pautan2/myID.png" class="user-img"></i>
                <p>MyID</p>
              </div>
              <div class="col-33" ng-click="navigateTo('app.PNS')" data-toggle="tooltip" data-placement="bottom" title="Perbendaharaan Negeri Selangor">
                <img src="img/pautan2/pns1.png" class="user-img"></i>
                <p>Perbendaharaan Negeri Selangor</p>
              </div>
            </div>

            <div class="row">
              <div class="col-33" ng-click="navigateTo('app.PTGS')" data-toggle="tooltip" data-placement="bottom" title="Pejabat Tanah dan Galian Selangor">
                <img src="img/pautan2/ptgs.png" class="user-img"></i>
                <p>Pejabat Tanah dan Galian Selangor</p>
              </div>
              <div class="col-33" ng-click="navigateTo('app.LPHS')" data-toggle="tooltip" data-placement="bottom" title="Lembaga Perumahan dan Hartanah Selangor">
                <img src="img/pautan2/lphs.png" class="user-img"></i>
                <p>Lembaga Perumahan</p>
              </div>
              <div class="col-33" ng-click="navigateTo('app.IIM')" data-toggle="tooltip" data-placement="bottom" title="Institut Integriti Malaysia">
                <img src="img/pautan2/iim.png" class="user-img"></i>
                <p>Institut Integriti Malaysia</p>
              </div>
            </div>

            <div class="row">
              <div class="col-33" ng-click="navigateTo('app.PADAT')" data-toggle="tooltip" data-placement="bottom" title="Perbadanan Adat Melayu & Warisan Negeri Selangor">
                <img src="img/pautan2/padat.png" class="user-img"></i>
                <p>P.A.D.A.T</p>
              </div>
              <div class="col-33" ng-click="navigateTo('app.JAS')" data-toggle="tooltip" data-placement="bottom" title="Jabatan Alam Sekitar">
                <img src="img/pautan2/jas.png" class="user-img"></i>
                <p>Jabatan Alam Sekitar</p>
              </div>
              <div class="col-33" ng-click="navigateTo('app.SIRIM')" data-toggle="tooltip" data-placement="bottom" title="SIRIM">
                <img src="img/pautan2/sirim.png" class="user-img"></i>
                <p>SIRIM</p>
              </div>
            </div>

            <div class="row">
              <div class="col-33" ng-click="" data-toggle="tooltip" data-placement="bottom" title="">
                <img src="" class="user-img"></i>
                <p></p>
              </div>
              <div class="col-33" ng-click="navigateTo('app.MYGOV')" data-toggle="tooltip" data-placement="bottom" title="Jabatan Keselamatan $ Kesihatan Pekerjaan DOSH">
                <img src="img/pautan2/mygov.png" class="user-img"></i>
                <p>Jabatan Keselamatan</p>
              </div>
              <div class="col-33" ng-click="" data-toggle="tooltip" data-placement="bottom" title="">
                <img src="" class="user-img"></i>
                <p></p>
              </div>
            </div>
        </div><!--end panel section-->
    </ion-content><!--Menu dashboard section-->
</ion-view>
